@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&family=Merriweather&family=Montserrat&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #064420;
}

/*  HEADER (GLOBAL) */

header {
  color: #064420;
}

.header__navbar {
  background-color: #ccd6a6;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  height: fit-content;
  width: 100%;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__logo {
  width: 10rem;
  padding-bottom: 0.5rem;
}

.hero__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("assets/photos/08-day.jpg");
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__text {
  width: 70%;
  background-color: #f4ead580;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
}

.hero__text h1 {
  color: black;
  margin: 0.5rem;
  font-size: 1rem;
}

.hero__button {
  margin: 1rem;
  padding: 0.9rem 1.8rem;
  line-height: 1rem;
  font-size: 1rem;
  background-color: #f4ead5;
  border: solid 0.1rem rgb(43, 43, 43);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

/* FOOTER (GLOBAL) */

.footer__navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccd6a6;
}

.footer__logo {
  margin: 2rem;
  width: 4rem;
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.footer p {
  font-size: 0.8rem;
  line-height: 3;
  letter-spacing: 0.06rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__socials {
  list-style-type: none;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.footer__socials__item {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

/* ABOUT & GALLERY-PAGE SPECIFIC CONTENT */

.main__about {
  width: 100%;
  background-color: #f4ead5;
}

.main__about__article {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.main__about__article h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.main__about__article p {
  font-size: 1rem;
}

.main__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.main__services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
}

.main__services__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3rem;
}

.main__services__card p {
  font-size: 0.8rem;
}

.main__services__icon {
  height: 1.3rem;
  margin-bottom: 0.5rem;
}

figcaption {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

/* OUR ROOMS-PAGE SPECIFIC CONTENT */

.main__rooms {
  background-color: #f4ead5;
  padding-bottom: 1rem;
}

.main__room__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main__search__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1rem;
}

.main__input__range,
.main__input__week,
.main__input__select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__input__check {
  margin: 0.1rem;
}

.main__rooms__search label {
  margin: 0.3rem;
}

.main__gallery__card {
  margin: 0.5rem;
  border: solid 0.1rem #ccd6a6;
  background-color: #d0d6b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1rem;
}

.main__gallery__card p {
  padding: 1rem;
}

.gallery__card__price {
  border: solid 1px #ccd6a6;
  border-radius: 0.3rem;
  background-color: white;
  padding: 0.4rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.gallery__img {
  max-width: 90%;
  margin-top: 1rem;
}

/* ########## MEDIA QUERIES ########### */

/* ------- TABLET STYLES ------- */

@media screen and (min-width: 768px) {
  /* GLOBAL STYLES */
  header ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  header li {
    padding: 1rem;
  }

  header a {
    font-size: 1.5rem;
  }

  .hero__img {
    height: 31.25rem;
  }

  .hero__text {
    padding: 2rem;
    width: 50%;
  }

  .hero__button {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
  }

  .hero__text h1 {
    font-size: 1.5rem;
  }

  .footer__logo {
    width: 3rem;
  }

  .footer__text {
    padding-bottom: 0.1rem;
  }

  .footer__text p {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.06rem;
  }

  .footer__socials {
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    padding-bottom: 3rem;
  }

  .footer__socials__item {
    font-size: 1.5rem;
    padding: 0.6rem;
  }

  /* ABOUT & GALLERY-PAGE SPECIFIC */

  .main__about__article {
    padding: 3rem;
  }

  .main__services__grid {
    max-width: 70%;
  }

  .main__services__card {
    padding: 1rem;
  }

  /* OUR ROOMS-PAGE SPECIFIC */

  .main__rooms {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__room__search {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .main__search__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .main__room__search label {
    margin: 1rem;
    font-size: 1rem;
  }

  .main__rooms,
  .main__gallery p {
    font-size: 1.2rem;
  }

  .main__gallery {
    width: 90%;
    gap: 0.1rem;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-content: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

/* ------- DESKTOP STYLES --------- */

@media screen and (min-width: 1024px) {
  /* GLOBAL STYLES */
  header ul {
    justify-content: center;
    align-items: center;
  }

  header li {
    margin: 0.5rem;
  }

  .hero__img {
    height: 30rem;
  }

  .hero__text {
    width: 30%;
    padding: 3rem;
  }

  .hero__button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .footer__logo {
    width: 3rem;
    padding-top: 3rem;
  }

  .hero__button {
    font-size: 1.5rem;
  }

  .footer__socials {
    padding-bottom: 3rem;
  }

  .footer__socials__item {
    font-size: 1.5rem;
    padding: 0.6rem;
  }

  /* ABOUT & GALLERY-PAGE SPECIFIC */

  .main__about__article {
    max-width: 60%;
    padding: 3rem;
  }

  .main__services__grid {
    max-width: 40%;
  }

  /* OUR ROOMS-PAGE SPECIFIC */

  .main__room__search {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 3rem;
  }

  .main__gallery {
    max-width: 70%;
    padding-bottom: 3rem;
  }
}

/* ------- LARGE SCREEN STYLES --------- */

@media screen and (min-width: 1500px) {
  /* GLOBAL STYLES */

  .hero__img {
    height: 35rem;
  }

  .hero__text {
    width: 20%;
    padding: 2rem;
  }

  .hero__button {
    font-size: 1rem;
  }

  .footer__socials {
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  /* ABOUT & GALLERY-PAGE SPECIFIC */

  .main__about__article {
    max-width: 40%;
  }

  .main__services__grid {
    max-width: 20%;
  }

  /* OUR ROOMS-PAGE SPECIFIC */

  .main__gallery {
    max-width: 40%;
  }
}
